/* Container principal */
.rules-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: antiquewhite;
}

.rule-card {
    color:black;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
    margin: 1.5rem;
}

.rule-card:hover {
  transform: translateY(-4px);
}

.rule-actions {
  display: flex;
  justify-content: space-between;
}

.new-rule-button {
    position: fixed;
    bottom: 40px;
    right: 20px;
    margin-top: 2rem;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.new-rule-button:hover {
  background-color: black;
}
