.btn {
  padding: 6px 16px;
  font-size: 0.9rem;
  border-radius: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  width: fit-content;
  min-width: auto;
  max-width: none;       
  display: inline-flex; 
  align-items: center;
  justify-content: center;
}

.btnPrimary {
  background: #00a859;
  color: white;
}

.btnPrimary:hover {
  filter: brightness(0.9);
}

.btnDanger {
  padding: 5px 12px;
  font-size: 0.8rem;
  background: #dc3545;
  color: white;
}

.btnDanger:hover {
  filter: brightness(0.9);
}

.btnSecondary {
  background: #6c757d;
  color: white;
}

.btnSecondary:hover {
  filter: brightness(0.9);
}