.aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 80px;
    max-width: 220px;
    height: 100vh;
    border-radius: 0;
    padding: 20px 12px;
    background-color: #0c5f1e;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;;
}

.nav {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 24px;
    margin-bottom: auto;
}

.link {
    display: flex;
    align-items: center;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #33333344;
    padding: 8px;
    color: #fff;
    background: transparent;
    transition: background 0.2s, color 0.2s;
    font-weight: 500;
    margin-bottom: 8px;
}

.link:hover {
    background-color: #556B2F;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.10);
    transform: scale(1.01);
}

.text {
    margin-left: 20px;
    font-weight: bolder;
}

.svgImage {
    margin-left: 10px;
}

button.link {
    margin-top: 24px;
    margin-bottom: 0;
    align-self: flex-end;
    width: 100%;
    justify-content: left;
    background: transparent;
    border: 1px solid #33333344;
    color: #fff;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 12px;
}

button.link:hover {
    background-color: #556B2F;
    color: #fff;
}