.advertisements-page-container {
  display: flex;
  gap: 20px;
  width: max-content;
  max-width: 100%;
  flex-grow: 1;
  align-self: center;
}

.advertisement-edition {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: stretch;
  width: max-content;
}