.advertisements-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
}

.mensagem-de-aviso {
  color: antiquewhite;
}
.advertisements-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
}

#botao-novo-anuncio {
  position: fixed;
  bottom: 40px;
  right: 20px;
  padding: 10px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  width: max-content;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.2s;
  z-index: 1000;
}

#botao-novo-anuncio:hover{
  cursor: pointer;
  background-color: #eaeaea;
  color: #151515;
}