.layout{
    display: flex;
    flex-direction: row;
}

main {
    display: flex;
    flex: 1 1 auto;
    margin-left: 220px; /* igual à largura do sidebar */
    min-height: 100vh;
    padding: 24px 24px 24px 24px; /* padding só interno */
    background: #181f1b;      /* fundo escuro, igual ao tema */
    color: #fff;
    box-sizing: border-box;
    flex-direction: column;
}