p, label {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

h3 {
    color: #333;
    margin-bottom: 15px;
}

.advertisement-form {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    align-self: stretch;
    align-items: stretch;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    gap: 15px;
}

.form-description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: self-start;
    gap: 10px;
}

textarea {
    width: 90%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: both;
}

#cancel-button{
    position: fixed;
    bottom: 5%;
    left: 20%;
}

#save-button{
    position: fixed;
    bottom: 5%;
    right: 5%;
}

.advertisement-form #save-button, #cancel-button {
    padding: 10px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    width: max-content;
    height: max-content;
    cursor: pointer;
    transition: background-color 0.2s;
    z-index: 1000;
}