.user-advertisement-card{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: #f8f9fa;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
    min-width: 140px;
}

.user-advertisement-card img {
    border-radius: 50%;
}

.advertisement-dropdown{
    align-self: first baseline;
    color: #333;
    padding: 4px;
}