.searchContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.searchInput {
  width: 300px;
  padding: .7rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
}

.createButton {
  padding: 6px 16px;
  font-size: 0.9rem;
  border-radius: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  background: #00a859;
  color: white;
}

.createButton:hover {
  filter: brightness(0.9);
}